[build]
  functions = "netlify/functions"
  publish = "."

[functions]
  external_node_modules = ["axios", "express", "serverless-http"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true
